[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
dash = "*"
pandas = "*"
dash-dangerously-set-inner-html = "*"
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.11"
